/* -----  /src/scss/base/_mixins.scss  -----  */


@use './variables' as var;


//  -----  mixin - telefono - @media(min-width: 768px)  -----  
@mixin telefono {
    @media(min-width: var.$telefono) {
        @content;
    }
}


//  -----  mixin - tablet - @media(min-width: 768px)  -----
@mixin tablet {
    @media(min-width: var.$tablet) {
        @content;
    }
}


//  -----  mixin - desktop - @media(min-width: 1200px)  -----
@mixin desktop {
    @media(min-width: var.$desktop) {
        @content;
    }
}


//  -----  mixin - desktopXL - @media(min-width: 1400px)  -----
@mixin desktopXL {
    @media(min-width: var.$desktopXL) {
        @content;
    }
}


//  -----  mixin - contenedor  -----
@mixin contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}


//  -----  mixin - grid($columnas: 1, $gap: 5rem)  -----
@mixin grid($columnas: 1, $gap: 5rem) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}