/*  
    * -------------------------------------------------------------
    * -----  _header.scss  --  /src/scss/layout/_header.scss  -----
    * -------------------------------------------------------------  
*/


@use '../base/variables' as var;
@use '../base/mixins' as mix;


.header {

    background-color: var.$verde;

    @include mix.tablet {

        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            box-shadow: .1rem .2rem .3rem #333;
        }
    }

    .contenido-header {

        padding: 2rem;

        //  -----  @media(min-width: 768px)  -----  
        @include mix.telefono {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }


    h1 {

        color: var.$blanco;
        text-align: center;

        //  -----  @media(min-width: 768px)  -----
        @include mix.tablet {
            margin: 0;
            text-align: left;
        }
    }
}


.navegacion-principal {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    //  -----  @media(min-width: 768px)  -----
    @include mix.tablet {
        flex-direction: row;
    }

    a {
        color: var.$blanco;
        font-size: 2.4rem;

        &:hover,
        &.active {
            color: var.$amarillo;
        }
    }
}