/*  -----  /src/scss/layout/_lineup.scss  -----  */


@use '../base/variables' as var;
@use '../base/mixins' as mix;


.lineup {

    background-color: var.$rosa;

    h3,
    .dia {
        text-align: center;
        color: var.$blanco;
    }

    .dia {
        font-size: 3rem;
        text-transform: uppercase;
    }
}


.escenarios-contenedor {

    //  -----  mixin - contenedor  -----
    @include mix.contenedor;

    //  -----  mixin - tablet - @media(min-width: 768px)  -----
    @include mix.tablet {
        
        //  -----  mixin - grid($columnas: 1, $gap: 5rem)  -----
        @include mix.grid(2);
    }

}


.escenario {

    padding-top: 2rem;

    .nombre-escenario {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
    }
}


.calendario {

    //  -----  mixin - resetear-lista  -----
    @include mix.resetear-lista;

    li {

        padding: 2.5rem;
        font-weight: 700;

        span {
            font-weight: 400;
        }
    }
}


.bg-amarillo {

    background-color: var.$amarillo;
    li:nth-child(odd) {
        background-color: lighten(var.$amarillo, 5%);
    }
}

.bg-verde {
    background-color: var.$verde;
    li:nth-child(odd) {
        background-color: lighten(var.$verde, 5%);
    }
}
